h1 Write a new blog post
div(class="create-draft")
	form
		div(class="form-group")
			h3 Title
			input(type="text" id="title" class="form-control input-lg" placeholder="Enter post title..." ng-model="formData.title")
			h3 Author
			input(type="text" id="author" class="form-control input-lg" placeholder="Enter author" ng-model="formData.author")
			h3 Draft
			textarea(type="text" id="draft" rows="7" class="form-control input-lg" placeholder="Enter draft..." ng-model="formData.draft")
			br
			button(type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createDraft()") Publish post
