h1 Edit a post
div(class="create-draft")
	form
		div(class="form-group")
			Title
			input(type="text" id="title" class="form-control input-lg" placeholder={{post.title}} ng-model="formData.title")
			br
			Author
			input(type="text" id="author" class="form-control input-lg" placeholder={{post.author}} ng-model="formData.author")
			br
			Draft
			input(type="text" id="draft" class="form-control input-lg" placeholder={{post.draft}} ng-model="formData.draft")
			br
			button(type="submit" class="btn btn-primary btn-lg btn-block" ng-click="updatePost()") Add blog draft