body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#draft {
	height: 500px;
}

.edit-buttons{
	height: 6em;
}
.edit-buttons button{
	margin: 1em 1em 0 0;
}

.post{
	margin-bottom: 2em;
}