body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#draft {
	height: 500px;
}

.edit-buttons{
	height: 3em;
	margin: 1em;
	text-align: center;
}

.edit-buttons button{
	margin: 1em;
}

.post{
	margin-bottom: 2em;
}